/*css for joanne card, setting margins, max width and floating the card to the left*/
.joanneCard {
  max-width: 45%;
  margin-left: 35px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  float: left;
}

/*css for grant card, setting margins, max width and floating the card to the right*/
.grantCard {
  max-width: 45%;
  margin-left: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
  float: right;
}

/*css for calum card, setting margins, max width and floating the card to the left*/
.calumCard {
  width: 30%;
  margin-left: 35px;
  margin-right: 10px;
  border-radius: 5px;
  float: left;
}

/*css for fraser card, setting margins, max width and floating the card to the left*/
.fraserCard {
  width: 30%;
  margin-right: 10px;
  border-radius: 5px;
  float: left;
}

/*css for murphy card, setting margins, max width and floating the card to the left*/
.murphyCard {
  width: 30%;
  border-radius: 5px;
  float: left;
}

/*css for images to give round corners and set the height*/
img {
  border-radius: 5px;
  height: 300px;
  width: 270px;
}

/*css for imgae of joanne*/
#joanneimg{
  width: 320px;
}

/*css for imgae of grant*/
#grantimg{
  width: 320px;
}
