@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Quattrocento:400,700');


}
#mainContent{
background-color:#e0dad9 ;
width: 70%;
float: left;
height: 300px;

}
#sideContent{
background-color:#999594 ;
width: 30%;
float: right;
height: 300px;
}

/*CSS for the navigation bar*/

ul {
  list-style-type: none;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: #8367C7;

}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #454E9E;
}

li a:active {
  background-color: #ADD7F6;
}

.current {
  background-color: #8367C7;;
}
