/*css for main content to set the colour of background, width and height, margin and setting the section to float to the left of the page  */
#mainContent {
  background-color: #F7F7FF;
  width: 40%;
  float: left;
  height: 200px;
  margin-bottom: 20px;
}

/*css for main content to set the colour of background, width and height, setting the section to float to the right of the page  */
#sideContent {
  background-color: #F7F7FF;
  width: 50%;
  float: right;
  height: 200px;
}

/*css setting image corners to be rounded*/
img{
  border-radius: 8px;
}

/*css giving heading a margin*/
h2{
  margin-bottom: 15px;
}
