/* import for fonts used within the website */
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Quattrocento:400,700');
@import URL('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

/*body css  */
body{
  max-width: 1200px;
  margin:0 auto;
  background-color: #c2c2d6;
}
h1{
  font-size: 60px;
  font-family: 'Quattrocento Sans', sans-serif;
font-weight: 400;
color: #454E9E;
}

h2{
  font-size: 40px;
  font-family: 'Quattrocento Sans', sans-serif;
font-weight: 400;
color: #454E9E;
}

h3{
font-size: 25px;
font-family: 'Quattrocento Sans', sans-serif;
font-weight: 400;
color: #454E9E;

}
p{

  font-family: 'Quattrocento Sans', sans-serif;
  color: #8367C7;
  font-size: 15px;
}

/*all of the id selectors used in atomic design*/
#lightblue{
  color: #ADD7F6;
}
#darkerblue{
  color: #454E9E;
}
#purpleish{
   color: #8367C7;
}
#cream{
  color: #F0FFF1;
}
#QuattrocentoSans{
  font-family: 'Quattrocento Sans', sans-serif;
}
#Quattrocento{
  font-family: 'Quattrocento', sans-serif;
}
header img{
  height: 40px;
  float: left;
}
