/* import for fonts used within the website */
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Quattrocento:400,700');



/*CSS for the navigation bar*/
ul {
  list-style-type: none;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: #8367C7;

}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #454E9E;
}

li a:active {
  background-color: #ADD7F6;
}

.current {
  background-color: #8367C7;;
}


/*body css  */
body{
  max-width: 1200px;
  margin:0 auto;
  background-color: black;
}
h1{
  font-size: 60px;
  font-family: 'Quattrocento Sans', sans-serif;
font-weight: 400;
color: #454E9E;
}

h2{
  font-size: 40px;
  font-family: 'Quattrocento Sans', sans-serif;
font-weight: 400;
color: #454E9E;
}

h3{
font-size: 25px;
font-family: 'Quattrocento Sans', sans-serif;
font-weight: 400;
color: #454E9E;

}
p{

  font-family: 'Quattrocento Sans', sans-serif;
  color: #8367C7;
  font-size: 15px;
}

/*all of the id selectors used in atomic design*/
#lightblue{
  color: #ADD7F6;
}
#darkerblue{
  color: #454E9E;
}
#purpleish{
   color: #8367C7;
}
#cream{
  color: #F0FFF1;
}
#QuattrocentoSans{
  font-family: 'Quattrocento Sans', sans-serif;
}
#Quattrocento{
  font-family: 'Quattrocento', sans-serif;
}
