/* import for fonts used within the website */
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Quattrocento:400,700');
@import URL('https://use.fontawesome.com/releases/v5.5.0/css/all.css');



/*body css  */


body {
  max-width: 900px;
  margin: 0 auto;
  background-color: #F7F7FF;
}
header{
  width: 100%;
}

h1 {
  font-size: 55px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  color: #272635;
}

h2 {
  font-size: 40px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  color: #272635;
}

h3 {
  font-size: 30px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  color: #272635;
}

h4{
  font-size: 25px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: 400;
  color: #272635;
}

p {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #5F5B6B;
  font-size: 21px;
}

/* CSS for the navigation bar*/

  ul {
    list-style-type: none;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #272635;
  }


li {
  float: left;
}

li a {
  display: block;
  color: #F7F7FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #5F5B6B;
}

li a:active {
  background-color: #272635;
}

.current {
  background-color: #272635;

}

/*all of the id selectors used in atomic design*/
#blackish {
  color: #272635;
}

#greyish {
  color: #5F5B6B;
}

#whiteish{
  color: #F7F7FF;
  background-color: #000000;
}

#QuattrocentoSans {
  font-family: 'Quattrocento Sans', sans-serif;
}

#Quattrocento {
  font-family: 'Quattrocento', sans-serif;
}

header img {
  height: 40px;
  float: left;
}

#moleculesOnecol {
  width: 100%;
  float: left;
}

#moleculesTwocol1 {
  width: 50%;
  float: left;
}

#moleculesTwocol2 {
  width: 50%;
  float: left;
}

#moleculesThreecol1 {
  width: 33%;
  float: left;
}

#moleculesThreecol2 {
  width: 33%;
  float: left;
}

#moleculesThreecol3 {
  width: 33%;
  float: left;
}

#moleculesfootersection1 {
  width: 30%;
  float: left;
}

#moleculesfootersection2 {
  width: 30%;
  float: left;
}

#moleculesfootersection3 {
  width: 30%;
  float: right;
}

#templateMaincol {
  width: 70%;
  float: left;
}

#templateSidecol {
  width: 30%;
  float: right;
}

/*css for main heading used on all pages*/
#mainheading{
  background-color: #272635;
  color: #F7F7FF;
  margin: 0;
  font-size: 64px;
}
